@font-face {
	font-display: swap;
	font-family: 'contiki';
	src: url("./contiki.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: "Soleil W02 Regular";
	src: url("./soleil_regular.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: "Soleil W02 Bold";
	src: url("./soleil_bold.woff2");
	font-weight: bold;
}

@font-face {
	font-display: swap;
	font-family: "Soleil W02 ExtraBold";
	src: url("./soleil_extra_bold.woff2");
	font-weight: bold;
}

@font-face {
	font-display: swap;
	font-family: "Trade Gothic Pro Condensed Bold";
	src: url("./gothic.woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: "Futura W01 ExtraBold Condensed";
	src: url("./futura_extra.woff");
	font-weight: normal;
	font-style: bold;
}
